Repository smaranjitghose/Full_Stack_Bootcamp, pull requests merged in 2025-02, with the labels that each got.

#1222 Assignment31 - 6ITA - Jenish
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1225 Assignment31 - 6ITA - Yash
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1240 Assignment31 - 6ITA - Sahil
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1231 Assignment 31 - 6ITA - vishang
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1235 Assignment31 6ITA-Harsh choudhary
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1234 Assignment31 - 6ITA - Aryan
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1232 Assignment31 - 6ITA - Vignesh
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1244 Assignment 31 - 6ITA - Suhani
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1245 Assignment31 - 6ITA - Ashish
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1233 Assignment31 - 6ITA - Dhyan
  submissions/expressjs/assignment4.MD
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1242 Assignment31 - 6ITA - Ayush
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1248 Assignment 31 - 6ITA - Hardeep Ijardar
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1259 Assignment 31 - IT6A - Ankit
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1262 Assignment31 - 6ITA - Neeti
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1260 Assignment 31 IT6A Meet Patel
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1243 Assignment31- 6ITA - Vinit
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1253 Assignment31 -6ITA-Mann
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1256 Assignment31 - 6ITA Mansha
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1255 Assignment31 - 6ITA - Vrushangi
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-31

#1254 Assignment31 - 6ITA - Vaishnavi
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1250 Assignment32 - 6ITA - Vignesh
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1266 Assignment31 - 6ITA - Deep
  submissions/reactjs/assignment1.MD
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-31

#1271 Assignment33 - 6ITA - Vignesh
  submissions/reactjs/assignment3.MD
Labels: 6ITA

#1268 Assignment32 - 6ITA - Satyam
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1263 Assignment 32 6IT-A Pranav Faladu
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1285 Assignment 34 - 6ITA - Jenish
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1287 Assignment32 - 6ITA - Aryan
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1289 Assignment33 - 6ITA - Aryan
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1293 Assignment32 - 6ITA - Neeti
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1295 Assignment32 - 6ITA - Sahil
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1302 Assignment34 - 6ITA - Aryan
  submissions/reactjs/assignment4.MD
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-34

#1301 Assignment 35 IT6A Harsh choudhary
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1300 Assignment35 - 6ITA - Vignesh
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1299 Assignment 36 - 6ITA - Jenish
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1303 Assignment33 - 6ITA - Utsav
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1298 Assignment32 - 6ITA - Utsav
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1305 Assignment35 - 6ITA - Aryan
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1304 Assignment 33 6ITA Raj
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1437 Assignment34 - 6ITA - Rutuja
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1443 Assignment 35 - IT6A - Ankit
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1448 Assignment 37 - IT6A - Ankit
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1450 Assignment 38 - IT6A - Ankit
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1445 Assignment 36 - IT6A - Ankit
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1431 Assignment 32 - 6ITA - Suhani
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1428 Assignment37 - 6ITA - Dhyan
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1333 Assignment 39 - 6ITA - Jenish
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1427 Assignment 39 - 6ITA - Deep
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1296 Assignment34 - 6ITA - Vignesh
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1307 Assignment34 - 6ITA - Satyam
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1350 Assignment34 - 6ITA - Vinit
  submissions/reactjs/assignment2.MD
  submissions/reactjs/assignment3.MD
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1506 Assignment-34 IT6A HANI
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1524 Assignment39-IT6A-Bharvi
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1500 Assignment34 - 6ITA - Ayush
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-34

#1523 Assignment31 - 6ITA - HANI
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1502 Assignment36 - 6ITA - Ayush
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1498 Assignment33 - 6ITA - Ayush
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1496 Assignment39 - 6ITA - Neeti
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1306 Assignment33 - 6ITA - Neeti
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1308 Assignment32 - 6ITA - Yash
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1309 Assignment33 - 6ITA - Yash
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1315 Assignment 32-6IT-A Mansha
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1312 Assignment32 - 6ITA - Rutuja
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1316 Assignment32 - 6ITA - Ashish
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1348 Assignment32 - 6ITA - Vaishnavi
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1352 Assignment32 - 6ITA - Shubham
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1364 Assignment32 - 6ITA - Harsh Surani
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1369 Assignment32 IT6A Meet patel
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1370 Assignment32 - 6ITA - Dhyan
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1378 Assignment32 - 6ITA - Vrushangi Mistry
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1413 Assignment32 - 6ITA - Deep
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1466 Assignment32 - 6ITA - Ayush
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1468 Assignment -32 6ITA Rishabh
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1473 Assignment 32-6ITA-alisha
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1485 Assignment32-IT6A-Hani
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1499 Assignment32 - 6ITA - Darsh Kalani
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1488 Assignment32 IT6A Ravi-Vira
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1294 Assignment33 - 6ITA - Satyam
  submissions/reactjs/assignment3.MD
Labels: 6ITA, redo, assignment-33

#1318 Assignment33 - 6ITA - Rutuja
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1319 Assignment 33 6ITA Mansha
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1328 Assignment 33 - 6ITA - Vishang Lad
  submissions/reactjs/assignment3.MD
Labels: 6ITA

#1354 Assignment33 - 6ITA - Shubham
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1367 Assignment33 - 6ITA - Harsh SUrani
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1375 Assignment 33 IT6A Meet patel
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1390 Assignment33 - 6ITA - Dhyan
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1398 Assignment33 - 6ITA - Vrushangi Mistry
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1418 Assignment33 - 6ITA - Deep
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1433 Assignment33 - 6ITA -Pranjal
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1478 Assignment 33-6ITA-alisha
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1481 Assignment33-IT6A-Bharvi
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1486 Assignment-33 IT-6A HANI
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1489 Assignment 33 IT6A Ravi Vira
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1323 Assignment 34 6ITA Mansha
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1320 Assignment34 - 6ITA - Yash
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1334 Assignment34 - 6ITA - Vishang lad
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1342 Assignment34 - 6ITA - Ashish
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1355 Assignment34 - 6ITA - Shubham
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1361 Assignment34 - 6ITA - Utsav
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1372 Assignment34 - 6ITA - Harsh Surani
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1374 Assignment34 - 6ITA - Vaishnavi
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1379 Assignment 34 IT6A Meet patel
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1380 Assignment34 - 6ITA - Sahil
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1381 Assignment34 - 6ITA - Bhavin
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1405 Assignment34 - 6ITA - Dhyan
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1420 Assignment34 - 6ITA - Vrushangi Mistry
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1421 Assignment 34 - 6ITA_ Deep
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1470 Assignment34-6ITA-Meet
  submissions/GenAI/task_2.MD
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1482 Assignment34-IT6A-Bharvi
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1490 Assignment-34-6ITA-Ravi Vira
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1510 Assignment 34-6ITA-alisha
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1388 Assignment35 - 6ITA - Sahil
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1395 Assignment35 - 6ITA - Bhavin
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1345 Assignment35 - 6ITA - Ashish
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1516 Assignment 38-6ITA-alisha
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1513 Assignment36-6ITA-alisha
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1518 Assignment37 - 6ITA - HANI
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1538 Assignment 37 -IT6A-Mann
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1540 Assignment 38-IT6A-Mann
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1541 Assignment39-IT6A-Mann
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1512 Assignment 35-6ITA-alisha
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1517 Assignment 39-6ITA-alisha
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1511 Assignment39 - 6ITA - Pranjal
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1542 Assignment32-6ITA-Meet
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1539 Assignment33-6ITA-Meet
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1535 Assignment 35-IT6A-Mann
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1534 Assignment 34-ITA6-Mann
  submissions/reactjs/assignment4.MD
Labels: 6ITA, assignment-34

#1519 Assignment38 - 6ITA - HANI
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1493 Assignment 37 IT6A Ravi-vira
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1537 Assignment 36 IT6A-Mann
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1533 Assignment 33-6ITA-Mann
  submissions/reactjs/assignment3.MD
Labels: 6ITA, assignment-33

#1508 Assignment35 - 6ITA - HANI
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1522 Assignment39 - 6ITA - HANI
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1322 Assignment35 - 6ITA - Yash
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1492 Assignment 36 IT6A Ravi Vira
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1494 Assignment 38 IT6A Ravi Vira
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1487 Assignment 31-6ITA-Ravi Vira
  submissions/reactjs/assignment1.MD
Labels: 6ITA, assignment-31

#1497 Assignment39 - 6ITA - Shubham
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1530 Assignment38 - 6ITA - Satyam
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1536 Assignment32-IT6A-Bharvi
  submissions/reactjs/assignment2.MD
Labels: 6ITA, assignment-32

#1531 Assignment39 - 6ITA - Satyam
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1477 Assignment37 - 6ITA - Vrushangi Mistry
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1479 Assignment38 - 6ITA - Vrushangi Mistry
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1529 Assignment37 - 6ITA - Satyam
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1520 Assignment37-IT6A-Bharvi
  submissions/reactjs/assignment7.MD
Labels: 6ITA, assignment-37

#1527 Assignment39 - 6ITA - Dhyan
  submissions/reactjs/assignment9.MD
Labels: 6ITA, assignment-39

#1528 Assignment36 - 6ITA - Satyam
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1521 Assignment38-IT6A-Bharvi
  submissions/reactjs/assignment8.MD
Labels: 6ITA

#1514 Assignment-36 IT6A HANI
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36

#1455 Assignment38 - 6ITA - Pranjal
  submissions/reactjs/assignment8.MD
Labels: 6ITA, assignment-38

#1459 Assignment35 - 6ITA - Vrushangi Mistry
  submissions/reactjs/assignment5.MD
Labels: 6ITA, assignment-35

#1460 Assignment36 - 6ITA - Vrushangi Mistry
  submissions/reactjs/assignment6.MD
Labels: 6ITA, assignment-36
